{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Trispace:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Advertisement</title>
    <script src="https://kit.fontawesome.com/e539c9d1ef.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="black">
    <div class="contents">
        <div class="navbar">
            <img src="LOGO.png" id="logo" alt="Company logo" class="logo">
            <nav>
                <ul id="MenuList">
                    <li><a href="/"> Home</a> </li>
                    <li><a href=""> About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Mail Us</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
            <img src="menu-o.png" alt="" class="menu-icon" onclick="togglemenu()">
        </div>
        <div class="mid">
            <h1>One Of The Outdoor Advertising Agency <br></h1>
            <p> <br>
            <h4>OOH Advertisement made easy<br></h4>
            </p>
            <p><span>
                    <h4>Search Media. Check Availability. Book Online</h4>
                </span></p>
        </div>

        <div class="border border-warning  index-pad col-sm-12 col-md-12 container" >


            <div class="row justify-content-md-center row-cols-sm-3 ">
                <div class="col border-warning "><select class="custom-select">
                        <option selected>Enter the city</option>
					{% for i in city %}
                        <option value="{{i}}">{{i}}</option>
					{% endfor %}

                    </select>
                </div>

                <div class="col"><select class="custom-select">
                        <option selected>Enter hoarding type here</option>
                        {% for i in Type %}
                        <option value="{{i}}">{{i}}</option>
					{% endfor %}

                    </select>
                </div>
                <div class="col-md-1">
                    <a href="index2.html">

                        <i class="fa-solid fa-magnifying-glass" style="font-size: 200%;color:aliceblue"></i>
                    </a>
                </div>
            </div>






        </div>
    </div>
</div>
    <script>
        var MenuList = document.getElementById("MenuList");

        MenuList.style.maxHeight = "0px";

        function togglemenu() {
            if (MenuList.style.maxHeight == "0px") {
                MenuList.style.maxHeight = "185px";
            }
            else {
                MenuList.style.maxHeight = "0px";
            }
        }

    </script>

</body>

</html>