<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link of all files </title>
</head>
<body>
    <a href="index.html">Homepage</a>
    <a href="index2.html">index2(search appear in this page)</a>
    <a href="product_list.html">Product-list</a>
    <a href="login.html">login page</a>
    <a href="register.html">Register page</a>
    <a href="transaction.html">Transaction page</a>
    <a href="style.css">stylesheet(CSS)</a>    
</body>
</html>